@{
    ViewBag.Title = "About";
}

<head>
    <link rel="stylesheet" href="@Url.Action("/Content/aboutStyle.css")" />
</head>

<section class="heading">
    <h1 style="text-align:center;">About Us</h1>

    <div  class="row gx-8 gy-7">


        <div class="col-md-3">
            <div>
                <img src="@Url.Content("~/Content/images/key.jpg")" />
            </div><br /><br />
            <div>
                <img src="@Url.Content("~/Content/images/airport-drop-off.jpg")" />
            </div><br /><br />
            <div>
                <img src="@Url.Content("~/Content/images/aboutimg1.jpg")"/>
            </div>
        </div>

        <div class="col-md-8" >
            <div class="content">
                <div class="text">
                    <p>
                        Rent a Car is an online car rental service provider in Bangladesh. You can trust us for all your traveling needs. We have introduced online booking system and for the ease of travellers, we accept cash, bKash or credit cards as the payments.
                        <br><br>

                        Our vision is to become the number one choice of domestic and foreign travellers. The best thing about us is that with Rent a Car you can relish extremely high quality, consistent, flexible and transparent car rental services that too with no hidden surprises or costs.
                        <br><br>

                        We want that everyone who travels in Bangladesh should get the best possible transportation experience. We provide different services for the convenience of our consumers. We facilitate your booking with the car rental company and ensure that you get the preferred car if it is available on the fleet.
                        Safety is something that every traveller seeks for.<br><br>

                        Here, we cater safe and reliable transport services to our valued customers. We ensure proper safety, quality, customer service and good employee relations.
                        Under our realm, you can experience the best safety, customer service, professionalism and quality.<br><br>

                        Everyone at Rent a Car is committed to cater the best transport service with best possible safety measures.
                        We value comfort and so provide utmost comfort to each passenger. We believe that we can help customers with the finest means only if we are updated with the latest trends.
                        So, our team is engaged in development, research and implementation of practices and systems. <br><br>

                        With us you can make your traveling easy, comfortable, efficient and stress free. Let our team take the entire burden for you and you focus on exploring new destinations and attending important events. With us, you cannot get late for any event! Indeed, we give wings to our customers with the best transportation means.<br><br>
                    </p>
                    <div class="col-12 my-2">
                        <button type="submit" class="logReg-btn">HIRE US</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

 </section>